:root {
  --main-body: #ffffff;
  --main-text: #1d1d1d;
  --home-text: #486522;
  --product-main-text: rgba(41, 45, 50, 0.7);
  --product-second-text: rgba(85, 85, 85, 0.7);
  --product-third-text: #024e82;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--main-body);
  font-family: "Lato", sans-serif;
}

.auth-main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.auth-component {
  width: 500px;
  padding: 50px 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--home-text);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.auth-component h1 {
  color: var(--home-text);
  font-size: 35px;
  margin-bottom: 40px;
}
.auth-component form {
  width: 100%;
}
.auth-component label {
  font-size: 20px;
  color: var(--product-main-text);
}
.auth-component input {
  width: 100%;
  border: 2px solid var(--home-text);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.auth-component input[type="submit"] {
  background-color: var(--home-text);
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border: none;
  text-transform: uppercase;
}
.auth-component input[type="submit"]:hover {
  background-color: #344e15;
}
.auth-component p {
  font-size: 18px;
  color: var(--main-text);
}
.auth-component p a {
  font-size: 18px;
  color: var(--home-text);
}
.forgotLink {
  text-align: end;
  margin-bottom: 20px;
}
.forgotLink a{
  text-decoration: none;
}

/* header_section */

header {
  background: transparent;
  height: 88px;
  color: #1d1d1d;
  display: flex;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.heading {
  font-size: 36px;
  font-weight: 400;
}
.header-user {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--home-text);
  cursor: pointer;
}
.header-user img {
  width: 100%;
  height: 100%;
}
.profile {
  position: absolute;
  right: 50px;
  top: 70px;
  background: var(--main-body);
  width: 220px;
  height: auto;
  padding: 15px 20px;
  box-shadow: 0px 0px 10px;
  border-radius: 5px;
  color: var(--main-text);
}
.profile .hello {
  color: var(--product-main-text);
  font-size: medium;
}
.profile .name {
  font-size: 30px;
  text-transform: capitalize;
}
.profile .email {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text);
}
.profile .email span{
  font-size: 18px;
  font-weight: 500;
  color: var(--product-second-text);
}
.profileBtn {
  width: 100%;
  height: 35px;
  font-size: larger;
  background: transparent;
  border: 2px solid var(--product-second-text);
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.profileBtn:hover {
  background: rgba(255, 0, 0, 0.806);
  color: var(--main-body);
}
.profileUpdate {
  margin-top: 30px;
  font-size: medium;
}
.profileUpdate:hover {
  background: var(--home-text);
}
.profileDelete {
  margin-top: 10px;
  font-size: medium;
  color: red;
}
.profileLogout {
  margin-top: 10px;
  color: red;
}
.updateProfile-main {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.439);
  display: grid;
  place-items: center;
  z-index: 5;
}
.background {
  position: fixed;
  inset: 0;
  z-index: 4;
}
.updateProfile-section {
  width: 450px;
  height: auto;
  padding: 30px;
  background: var(--main-body);
  border-radius: 10px;
  z-index: 999;
}
.updateProfile-section form {
  width: 100%;
}
.updateProfile-section label {
  font-size: 20px;
  color: var(--product-second-text);
}
.updateProfile-section input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 10px;
  margin-top: 5px;
  color: var(--main-text);
  margin-bottom: 10px;
  border: 2px solid var(--home-text);
}
.updateProfile-section input[type="submit"] {
  background: var(--home-text);
  color: var(--main-body);
  font-size: 20px;
  font-family: "Lato", sans-serif;
  border: none;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}
.updateProfile-section input[type="submit"]:hover {
  background: #304613;
}

/* home_section */

.home-main {
  width: 100%;
  height: calc(100vh - 88px);
  background-color: transparent;
  background: url("Assets/home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--home-text);
  display: grid;
  place-items: center;
  align-items: end;
  padding-bottom: 50px;
}
.home-main .home-text-section {
  text-align: center;
}
.home-main .home-text-section h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.home-main .home-text-section .home-btn {
  margin-top: 20px;
  text-transform: uppercase;
  border: 5px solid var(--home-text);
  width: 175px;
  height: 58px;
  color: var(--home-text);
  font-size: 21px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.home-main .home-text-section .home-btn:hover {
  background: var(--home-text);
  color: var(--main-body);
}

/* product_section */

.product-main {
  width: 100%;
  padding: 50px;
}
.product-text-section {
  text-align: center;
}
.product-text-section h1 {
  color: var(--product-main-text);
  font-size: 36px;
  font-weight: 700;
}
.product-text-section p {
  margin-top: 20px;
  color: var(--product-second-text);
  font-size: 20px;
  font-weight: 400;
}
.product-item-section {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.product-item-card {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}
.product-item-image {
  width: 295px;
  height: 342px;
  background: rgba(0, 128, 0, 0.09);
  overflow: hidden;
}
.product-item-image img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.product-item-image img:hover {
  transform: scale(1.1);
}
.product-item-card h5 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--product-second-text);
}
.product-item-card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--product-third-text);
}
